<button class="se" (click)="nouvenquete()"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
</svg>
  Nouvelle Enquete</button>

<div>

  <table class="es" *ngIf="demo">
    <tr >
      <td> <div class="g1">Informations de la Demographie:{{demo.id}}</div></td>

      <td class="e1" >Nom:{{demo.name}}</td>
      <td class="e2">Date: {{demo.date}}</td>



    </tr>
  </table>
</div>

<div>
  <table  class="content-table" *ngIf="enquetes" >

    <thead> <tr><th>0 à 11mois</th><th>12 à 59mois</th><th>Population totale viseé</th><th>Moughataa</th><th>Details</th> <th>Editer</th> <th>Supprimer</th></tr></thead>
    <tbody><tr *ngFor="let e of enquetes.content"  >


      <td>{{e.nb011}}</td>
      <td >{{e.nb1259}}</td>
      <td >{{e.popvisee}}</td>
      <td >{{e.moughataa.moughataaname}}</td>




       <td > <i class="fa fa-trash" aria-hidden="true" (click)="supprimerenquete(e)"></i></td>
      <td ><i class="fa fa-pencil" aria-hidden="true" (click)="Editenquete(e)"></i></td>
      <td ><i class="fa fa-info-circle" aria-hidden="true" (click)="details(e)"></i></td>





    </tr>


      <ul class="c1" *ngIf="Pages" class="nav nav-pills espace">
      <li  Class="clickable" [ngClass]="i==currentPage?'active':''"*ngFor="let p of Pages;let i=index ">
        <a (click)="onPageSE(i)">{{i+1}}</a></li>
    </ul>
    </tbody>


  </table>

</div>


