<!--
<div class="row">
  <div class="col-lg-7">
    <app-my-chart
      [type]="'bar'"
      [title]="'Taux de couverture Moughataa'"
      [data]="moughataasData"
    ></app-my-chart>
  </div>
</div>

<div class="row">
  <div class="col-lg-7">
    <app-my-chart
      [type]="'bar'"
      [title]="'Taux de couverture par Wilaya'"
      [data]="WilayasData"
    ></app-my-chart>
  </div>
</div>

<div class="row">
  <div class="col-lg-7">
    <app-my-chart
      [type]="'bar'"
      [title]="'Taux de couverture par Tranche d\'age'"
      [data]="moughataasData"
    ></app-my-chart>
  </div>
</div>

-->