
<div class="row">
  <div class="col-lg-7">
    <app-my-chart
      [type]="'bar'"
      [title]="'Statistiques par Moughataa'"
      [data]="moughataasData"
    ></app-my-chart>
  </div>
</div>

<div class="row">
  <div class="col-lg-7">
    <app-my-chart
      [type]="'bar'"
      [title]="'Statistiques par Wilaya'"
      [data]="WilayasData"
    ></app-my-chart>
  </div>
</div>

<div class="row">
  <div class="col-lg-7">
    <app-my-chart
      [type]="'bar'"
      [title]="'Statistiques par Tranche d\'age'"
      [data]="moughataasData"
    ></app-my-chart>
  </div>
</div>
<div class="row">
  <div class="col-lg-7">
    <app-my-chart
      [type]="'pie'"
      [title]="'vaccins par tranche d\'age'"
      [data]="vaccinsData"
    ></app-my-chart>
  </div>
</div>


