
<div  class="row" >
  <div class="col-lg-7" >
    <div class="cv" >
    <app-my-chart
      [type]="'bar'"
      [title]="'Statistiques par Moughataa'"
      [data]="moughataasData"
    ></app-my-chart>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-7">
    <app-my-chart
      [type]="'bar'"
      [title]="'Statistiques par Wilaya'"
      [data]="WilayasData"
    ></app-my-chart>
  </div>
</div>

<div class="row">
  <div class="col-lg-7">
    <app-my-chart
      [type]="'bar'"
      [title]="'Statistiques par Tranche d\'age [0-11]'"
      [data]="tracheAgeData011"
    ></app-my-chart>
  </div>
</div>
<div class="row">
  <div class="col-lg-7">
    <app-my-chart
      [type]="'bar'"
      [title]="'Statistiques par Tranche d\'age [12-59]'"
      [data]="tracheAgeData1259"
    ></app-my-chart>
  </div>
</div>


<div class="r">
  <div class="col-lg-7">
    <app-my-chart
      [type]="'pie'"
      [title]="'Statistiques par vaccin'"
      [data]="vaccinsData"
    ></app-my-chart>
  </div>
</div>

