
<div class="g2">Liste des Wilayas</div>
  <div>
    <table  class="content-table" *ngIf="wilayas" >
      <thead> <tr class="active-row"><th>Nom</th><th>Supprimer</th><th>Modifier</th></tr> </thead>
      <tbody> <tr *ngFor="let w of wilayas._embedded.wilayas" >

        <td>{{w.name}}</td>
        <td>
          <i class="fa fa-trash" aria-hidden="true" (click)="Deletewilaya(w)"></i></td>
        <td><i class="fa fa-pencil" aria-hidden="true" (click)="Editwilaya(w)"></i></td>



      </tr>
      <tr>

        <ul class="c1" *ngIf="pages" class="nav nav-pills">
          <li  Class="clickable" [ngClass]="i==currentpage?'active':''"*ngFor="let p of pages;let i=index ">
            <a (click)="onPagedemogs(i)">{{i+1}}</a></li>
        </ul></tr>


      </tbody>


    </table>




  </div>
  <div class="container" *ngIf="wilayas">
    <div class="card"></div>
    <div class="card">
      <h2 class="title">Ajouter un wilaya</h2>
      <form #f="ngForm" (ngSubmit)="onSaveWilaya(f.value)">

        <div class="input-container">
          <input type="text" id="#{label}" required="required" name="name" ngModel/>
          <label for="#{label}">Nom</label>
          <div class="bar"></div>
        </div>
        <div class="button-container">
          <button><span>Ajouter</span></button>
        </div>

      </form>
    </div>


  </div>




