<div class="container"  *ngIf="curentproduct">
  <div class="card" *ngIf="wilayas"></div>
  <div class="card" >
    <h2 class="title">Editer</h2>
    <form  #f="ngForm" (ngSubmit)="onUpdateEnquete(curentproduct)" >


      <div class="input-container">
        <select class="form-control" required="required"  name="content.curentproduct.moughataa.wilaya.name">
          <option *ngFor="let w of wilayas" [value]="w.id">{{w.name}}</option>
        </select>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label  text-success"><strong>nom </strong></label>
        <div class="col-md-9">
          <select class="form-control" name="content.curentproduct.moughataa.wilaya.name" [(ngModel)]="curentproduct.moughataa.wilaya.name">
            <ng-container *ngFor="let w  of wilayas">
              <option value="{{w}}">{{w}}</option>
            </ng-container>
          </select>
        </div>
      </div>

      <div class="input-container">
        <input type="text" required="required"  name="nb011"  ngModel [(ngModel)]="curentproduct.nb011" />
        <label for="#{label}">0 a 12 mois</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" required="required"  name="nb1259"  ngModel [(ngModel)]="curentproduct.nb1259" />
        <label for="#{label}">12 a 59 mois</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" required="required"  name="popvisee"  ngModel [(ngModel)]="curentproduct.popvisee" />
        <label for="#{label}">Population Total</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Ajouter</span></button>

      </div>
    </form>
  </div>
</div>




