

<div class="te"><input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" /></div>
<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
<div>
  <table  class="content-table" *ngIf="records.length > 0" >
    <thead> <tr class="active-row"><th>Nombre 0-11 mois</th><th>Nombre 12-59 mois</th><th>Population viseé</th></tr> </thead>
    <tbody> <tr  *ngFor="let record of records;let i = index;" >

      <td>{{record.nb011}}</td>
      <td>{{record.nb1259}}</td>
      <td>{{record.popvisee}}</td>
      <td>{{record.moughataa.moughataaname}}</td>


    </tbody>
  </table>



</div>
<div>  <button class="btne" *ngIf="records.length > 0"(click)="sendDataToServer()">Send</button>
</div>
































































































































