

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div >

  <button class="se" (click)="nouveauser()" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
  </svg>
    Nouveau Utilisateur</button>

</div>
<div>
  <div class="search">
    <form #c="ngForm" (ngSubmit)="onChercher(c.value)">
      <input type="text" name="keyword" ngModel class="search_box" placeholder="Chercher">
      <div class="ficon">
        <button type="submit" class="fa fa-search"></button>
      </div>
    </form>
  </div>


  <div>
  </div>
  <div ><h1 class ="ti">Utilisateurs</h1>>/div>
    <div>
      <table  class="content-table" *ngIf="appUsers" >
        <thead> <tr class="active-row"><th>Nom</th><th>Role</th><th>Supprimer</th><th>Modifier</th><th>Details</th></tr> </thead>
        <tbody> <tr *ngFor="let a of appUsers.content" >
          <td>{{a.username}}</td>

          <div *ngFor="let r of a.roles">


            <td>{{r.roleName}}</td>
          </div>


          <td>
            <i class="fa fa-trash" aria-hidden="true" (click)="Deleteuser(a)"></i></td>
          <td><i class="fa fa-pencil" aria-hidden="true" (click)="Editduser(a)"></i></td>
          <td><i class="fa fa-info-circle" aria-hidden="true" (click)="onselect(a)"></i></td>





        </tr>




        </tbody>

      </table>





    </div>
    <div  *ngIf="Pages">
      <ul  class="nav nav-pills espace" >
        <li class="nav-item modal-content-clickable" *ngFor="let page of Pages; let i=index">
          <a class="nav-link  decalage" [ngClass]="i==currentpage?'active':''"
             (click)="onPagedemogs(i)">{{i + 1}}</a>
        </li>
      </ul>
    </div>









</div>
</div>
