<div style=" margin: auto; width: 50%;">
  <button (click)="exportexcel()"><i class="fa fa-table" aria-hidden="true"></i>Export en Excel</button>
  <p></p>
  <button (click)="download()"><i class="far fa-file-pdf" aria-hidden="true"></i>Exporter en PDF </button>
  <table class="e" id="excel-table"  *ngIf="vaccinations">
    <tr>
      <th>Wilaya</th>
      <th>Moughataa</th>
      <th>Population totale</th>
      <th>0 a 11 mois</th>
      <th>12 a 59 mois</th>

    </tr>
    <tr *ngFor="let m of moughataas">
      <td>{{m.wilaya.name}}</td>
      <td>{{m.moughataaname}}</td>
      <td>{{statistiquesParTrancheAge011(vaccinations, m) + statistiquesParTrancheAge1259(vaccinations, m)}}</td>
      <td>{{statistiquesParTrancheAge011(vaccinations, m)}}</td>
      <td>{{statistiquesParTrancheAge1259(vaccinations, m)}}</td>



    </tr>
    <!--
    <tr *ngFor="let item of vaccinations">

      <td>{{item.moughataa.moughataaname}}</td>


      <td>{{item.nb1259}}</td>


    </tr>

-->
  </table>
</div>
