<div ><h1 classe ="ti">Liste des vaccinations</h1>>/div>
  <div>
    <table  class="content-table" *ngIf="vaccinations" >
      <thead> <tr class="active-row"><th>Date</th><th>Nombre enfants</th><th>Tranche d'age</th><th>Moughataa</th></tr> </thead>
      <tbody> <tr *ngFor="let v of vaccinations.content">
        <td>{{v.date_vaccination}}</td>
        <td>{{v.nombre_enfant}}</td>
        <td>{{v.tranche_age}}</td>
        <td>{{v.moughataa.moughataaname}}</td>


        <td><a class="btnes">Details</a></td>


      </tr>


      </tbody>
      <tr>
        <ul class="nav nav-pills espace">
          <li class="nav-item modal-content-clickable" *ngFor="let page of Pages; let i=index">
            <a class="nav-link  decalage" [ngClass]="i==currentPage?'active':''"
               (click)="onPageSE(i)">{{i + 1}}</a>
          </li>
        </ul>
     </tr>
    </table>



  </div>




</div>
