

<div class="container">
  <div class="card"></div>
  <div class="card">
    <h2 class="title">Nouvelle Enquete</h2>
    <form  #f="ngForm" (ngSubmit)="onSavedonnee(f.value)">
      <div class="input-container">
        <input type="text" required="required"  name="nb011" ngModel />
        <label for="#{label}">Nombre 0-11 mois</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" id="#{label}" required="required" name="nb1259" ngModel/>
        <label for="#{label}">Nombre 12-59 mois</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" id="#{label}" required="required"  name="popvisee" ngModel/>
        <label for="#{label}">Population viseé</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Ajouter</span></button>
        <a class="btn btn-outline-primary"(click)="ajoucsv()">Ajouter par fichier csv</a>
      </div>

    </form>
  </div>

</div>



