

<div class="container" *ngIf="curentproduct">
  <div class="card"></div>
  <div class="card">
    <h2 class="title">Editer </h2>
    <!--<form #f="ngForm" (ngSubmit)="onUpdateDemog(f.value)">-->
    <form #f="ngForm" (ngSubmit)="onUpdateUser(curentproduct)">
      <div class="input-container">
        <input type="text" required="required"  name="name"  ngModel [(ngModel)]="curentproduct.username" />
        <label for="#{label}">Nom d'utilisateur</label>
        <div class="bar"></div>
      </div>


      <div class="input-container">
        <input type="text" id="#{label}" required="required" name="password" ngModel [(ngModel)]="curentproduct.password"/>
        <label for="#{label}">Mot de passe</label>
        <div class="bar"></div>
      </div>

      <div *ngIf="appRoles">
        <div class="input-container-1">
          <select class="form-control" name="" ngModel required >
            <option *ngFor="let a of appRoles" [value]="a.id">{{a.roleName}}</option>
          </select>
        </div>
      </div>

      <div class="button-container">
        <button><span>Editer</span></button>
      </div>

    </form>

  </div>
</div>

