<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
  <button class="se" (click)="nouvdemo()"><svg width="1em" height="1em" viewBox="0 0 16 16"
      class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z" />
    </svg>
    Nouvelle Démographie</button>
</div>
<div>
  <div class="search">
    <form #c="ngForm" (ngSubmit)="onChercher(c.value)">
      <input type="text" name="keyword" ngModel class="search_box" placeholder="Chercher">
      <div class="ficon">
        <button type="submit" class="fa fa-search"></button>
      </div>
    </form>
  </div>
  <div>
  </div>
  <div class="g2">Démographies</div>
  <div>
    <table class="content-table" *ngIf="demographies">
      <thead>
        <tr class="active-row">
          <th>Nom</th>
          <th>Date</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of demographies._embedded.demographies">
          <td>{{d.name}}</td>
          <td>{{d.date}}</td>


          <td>
            <i class="fa fa-trash" aria-hidden="true" (click)="Deletedomogs(d)"></i></td>
          <td><i class="fa fa-pencil" aria-hidden="true" (click)="Editdomogs(d)"></i></td>
          <td><i class="fa fa-info-circle" aria-hidden="true" (click)="onselect(d)"></i></td>
        </tr>
        <tr>
          <ul class="c1" *ngIf="pages" class="nav nav-pills">
            <li Class="clickable" [ngClass]="i==currentpage?'active':''" *ngFor="let p of pages;let i=index ">
              <a (click)="onPagedemogs(i)">{{i+1}}</a></li>
          </ul>
        </tr>
      </tbody>
    </table>
  </div>
</div>
