

<div class="container" *ngIf="appRoles">
  <div class="card"></div>
  <div class="card">
    <h2 class="title">Nouveau Utilisateur</h2>
    <form #f="ngForm" (ngSubmit)="onSaveUser(f.value)">
      <div class="input-container">
        <input type="text" required="required"  name="username" ngModel />
        <label for="#{label}">Nom</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" id="#{label}" required="required" name="password" ngModel/>
        <label for="#{label}">Mot de passe</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" id="#{label}" required="required"  name="email" ngModel/>
        <label for="#{label}">Email</label>
        <div class="bar"></div>
      </div>




      <div *ngIf="appRoles">
        <div class="input-container">
          <select class="form-control" name="role" ngModel required  (change)="setSelectedMoughataa($event.target.value)">
            <option *ngFor="let r of appRoles" [value]="r.id">{{r.roleName}}</option>
          </select>
        </div>
      </div>

        <div class="button-container">
        <button><span>Ajouter</span></button>
      </div>

    </form>
  </div>

</div>


