


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Campagne De Vaccination</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" ><a routerLink="/"><i class="fa fa-fw fa-home"></i>Accueil</a></li>
      <li class="dropdown" *ngIf="isAuthenticated()">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-poll"></i>Gestion
        <span class="caret"></span></a>
        <ul class="dropdown-menu" >
      <li *ngIf="isAdmin()"><a routerLink="/demogs">Gestion Des Demographies</a></li>
      <li><a routerLink="/nouveau-demogs">Ajout</a></li>
      <li><a routerLink="/wilaya">Gestion Des Enquetes</a></li>
      <li><a routerLink="/mychart">Gestion Des Utilisateurs</a></li>
      <li><a routerLink="/donneechart">Gestion</a></li>
          <li><a routerLink="/essai">essai</a></li>
          <li><a routerLink="/essai2">essai2</a></li>
          <li><a routerLink="/nouveau-campagne">ajout campagne</a></li>
          <li><a routerLink="/dashboard">dash</a></li>
          <li><a routerLink="/users">Gestion Utilisateurs</a></li>
          <li><a routerLink="/pdfdown">pdf</a></li>
          <li><a routerLink="/exportpdf">pdf</a></li>
          <li><a routerLink="/upload">pdf</a></li>
          <li><a routerLink="/campagnes">campagnes</a></li>
          <li><a routerLink="/gelocali">map</a></li>
          <li><a routerLink="/gestionroles">roles</a></li>
          <li><a routerLink="/gestionmoughataas">moughataa</a></li>
          <li><a routerLink="/gestionwilayas">wilaya</a></li>
          <li><a routerLink="/gestionvaccinations">vaccinations</a></li>
    </ul>
    </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li><a *ngIf="!isAuthenticated()"routerLink="/login">Connecter</a></li>
      <li><a *ngIf="isAuthenticated()" (click)="logOut()">Deconnecter</a></li>
    </ul>

  </div>
</nav>
<router-outlet>

</router-outlet>






